
frontend/public/bundle.js
frontend/node_modules/*
frontend/node_modules/
serverside/database/*
serverside/database/
/target/
*/target/*
*/target/
serverside/target/
serverside/target/*
.classpath
.project
.settings/
.settings
.DS_Store
/serverside/database/
/serverside/database/*

