
$primary: #376f6a;
$footer-background-color: #6f4e37;
$footer-padding: 1rem 1.5rem 1rem;

@import '~bulma/bulma';


body {
   background-color: #6f4e37;
   color: #f5efeb;
   min-height: 100vh;
}

.label {
   color: #f5efeb;
}
